/* -- General -- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 320px;
  margin: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #575352;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.4;
  color: #575352;
  margin-bottom: 12px;
}

a {
  display: inline-block;
  color: #575352;
  text-decoration: none;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

a:hover,
a:active,
a:focus {
  border-color: transparent;
  color: #2196f3;
}

.grid {
  padding-left: 12px;
  padding-right: 12px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-header__inner {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-nav__list-link {
  display: block;
  text-transform: uppercase;
  border: none;
  padding: 12px;
}

.header-nav__list-link .social {
  display: block;
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.header-nav__list-link:hover {
  text-shadow: 0 3px 2px rgba(211, 210, 207, 0.7);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #2196f3;
}

.header-nav__list-link:hover .social,
.header-nav__list-link:hover .logo {
  -webkit-filter: drop-shadow(0 3px 2px rgba(211, 210, 207, 0.7));
  filter: drop-shadow(0 3px 2px rgba(211, 210, 207, 0.7));
}

.header-nav__logo {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.header-nav__work {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.logo {
  display: block;
  width: 80px;
  height: 40px;
  fill: currentColor;
}

.about {
  background-color: #fafafa;
}

.about__avatar {
  display: block;
  width: 70%;
  margin: 0 auto 24px;
}

.about__avatar-eye {
  opacity: 0;
}

.about__avatar:hover .about__avatar-eye {
  -webkit-animation-name: anim-eye;
  animation-name: anim-eye;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.about__text {
  max-width: 800px;
  font-weight: 200;
  font-size: 20px;
}

@-webkit-keyframes anim-eye {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes anim-eye {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lid {
  position: relative;
  padding-top: 137px;
  padding-bottom: 48px;
}

.lid__triangels {
  height: 100vh;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 24px;
  fill: currentColor;
  display: none;
}

.lid__titles {
  font-weight: 500;
  line-height: 1.2;
}

.lid__title {
  font-size: 40px;
}

.lid__subtitle {
  font-size: 34px;
}

.lid__text {
  font-weight: 100;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 0;
}

.work {
  padding-top: 0;
  padding-bottom: 0;
}

.work__title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work__item {
  width: 50%;
  position: relative;
}

.work__item-inner {
  padding-top: 100%;
  display: block;
  border: none;
}

.work__item-inner:hover .work__item-img,
.work__item-inner:focus .work__item-img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.work__item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20%;
  width: 70%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.work__item-img.raster {
  height: auto;
}

.main-footer {
  background-color: #fafafa;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-footer .logo {
  margin: 0 auto 12px;
}

@media (min-width: 500px) {
  .work__item {
    width: 33.33%;
  }

  .main-footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (min-width: 700px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .grid {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-nav__list {
    margin-left: -24px;
    margin-right: -24px;
  }

  .header-nav__list-link {
    padding: 24px;
  }

  .header-nav__logo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .header-nav__work {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about__avatar {
    width: 40%;
    margin: 0;
  }

  .about__text {
    width: 60%;
    padding-left: 48px;
  }
}

@media (min-width: 800px) {
  .lid {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }

  .lid__triangels {
    display: block;
  }

  .lid__triangels-wrap {
    position: absolute;
    top: 0;
    right: 40%;
  }

  .lid__titles {
    white-space: nowrap;
    position: absolute;
    left: 66%;
    bottom: 46vh;
  }

  .lid__title {
    font-size: 11vmin;
  }

  .lid__subtitle {
    font-size: 8vmin;
  }

  .lid__text {
    margin-top: 0;
    font-size: 4vmin;
    padding-top: 56.5vh;
    padding-left: 60%;
  }
}

@media (min-width: 1024px) {
  h2 {
    margin-bottom: 24px;
    font-size: 44px;
  }

  .about__text {
    font-size: 26px;
  }

  .work__item {
    width: 25%;
  }
}