/* -- General -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 320px;
  margin: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #575352;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

h1, h2, h3 {
  color: #575352;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 50px;
  margin-bottom: 24px;
}

h2 {
  font-size: 44px;
  margin-bottom: 24px;
}

a {
  display: inline-block;
  color: #575352;
  text-decoration: none;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

a:hover, a:active, a:focus {
  border-color: transparent;
  color: #2196f3;
}

/*Buttons*/
.butn {
  border: 0;
  outline: 0;
  padding: 0;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 25px;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/*Buttons END*/
.grid {
  padding-left: 24px;
  padding-right: 24px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -24px;
  margin-right: -24px;
}

.header-nav__list-link {
  display: block;
  text-transform: uppercase;
  border: none;
  padding: 12px 24px;
}

.header-nav__list-link .social {
  display: block;
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.header-nav__list-link:hover {
  text-shadow: 0 3px 2px rgba(211, 210, 207, 0.7);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #2196f3;
}

.header-nav__list-link:hover .social, .header-nav__list-link:hover .logo {
  -webkit-filter: drop-shadow(0 3px 2px rgba(211, 210, 207, 0.7));
          filter: drop-shadow(0 3px 2px rgba(211, 210, 207, 0.7));
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  fill: currentColor;
}

.about {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__avatar {
  display: block;
  width: 40%;
}

.about__text {
  width: 60%;
  max-width: 800px;
  font-size: 30px;
  font-weight: 200;
  padding-left: 48px;
}

.lid {
  height: 100vh;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.lid__triangels {
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 24px;
  fill: currentColor;
}

.lid__triangels-wrap {
  position: absolute;
  top: 0;
  right: 40%;
}

.lid__titles {
  font-weight: 500;
  line-height: 1.2;
  position: absolute;
  top: 31vh;
  left: 66%;
  white-space: nowrap;
}

.lid__title {
  font-size: 11vh;
}

.lid__subtitle {
  font-size: 8vh;
}

.lid__text {
  font-size: 4vh;
  font-weight: 100;
  padding-top: 56.5vh;
  padding-left: 60%;
}

.work {
  padding-top: 0;
  padding-bottom: 0;
}

.work__title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  width: 25%;
  position: relative;
}

.work__item-inner {
  padding-top: 100%;
  display: block;
  border: none;
}

.work__item-inner:hover .work__item-img, .work__item-inner:focus .work__item-img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.work__item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 70%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}
