html {
  scroll-behavior: smooth;
}

body {
  min-width: 20rem;
  margin: auto;
  font-family: var(--main-font);
  color: var(--dark);
  font-size: 1rem;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

@media (min-width: 42rem) {
  body {
    font-size: var(--font-size);
  }
}

main {
  flex-grow: 1;
}

section {
  padding-block: var(--space-10);
}
@media (min-width: 42rem) {
  section {
    padding-block: var(--space-18);
  }
}

.section-gray {
  background-color: var(--light-gray);
}

.section-default {
  padding-block: 0;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark);
}

h1,
.heading1 {
  font-size: 1.5rem;
  margin-bottom: var(--space-3);
}

h2,
.heading2 {
  font-size: 1.25rem;
  margin-bottom: var(--space-2);
}

@media (min-width: 42rem) {
  h1,
  .heading1 {
    font-size: 3rem;
    margin-bottom: var(--space-6);
  }

  h2,
  .heading2 {
    margin-bottom: var(--space-5);
    font-size: 2.5rem;
  }
}

strong {
  font-weight: 700;
}

a {
  display: inline-block;
  color: var(--dark);
  text-decoration: none;
  transition: all 0.1s ease;
  cursor: pointer;
  border-bottom: 1px solid currentcolor;
}

a:hover,
a:active,
a:focus {
  border-color: transparent;
  color: var(--blue);
}
