.wrapper {
  width: 100%;
  max-width: 50rem;
  padding-inline: var(--space-6);
  margin-inline: auto;
}
@media (min-width: 42rem) {
  .wrapper {
    padding-inline: var(--space-8);
  }
}

.wrapper--full {
  max-width: none;
}

.wrapper--text-center {
  text-align: center;
}

.list {
  list-style: inside;
  margin-bottom: 1.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}