.about-avatar {
  opacity: 0.8;
}

.about-avatar img {
  display: block;
  float: left;
  width: 7rem;
  height: 11rem;
  border-radius: 0.25rem;
  margin-top: var(--space-2-5);
  margin-right: var(--space-4);
  object-fit: cover;
  object-position: center;
}

@media (min-width: 42rem) {
  .about-avatar img {
    margin-top: var(--space-4);
    margin-right: var(--space-8);
    width: 16rem;
    height: 23.3125rem;
  }
}

.about-text {
  font-size: 1rem;
}

.about-text > p:not(:last-child) {
  margin-bottom: var(--space-3);
}
@media (min-width: 42rem) {
  .about-text {
    font-size: 1.25rem;
  }

  .about-text > p:not(:last-child) {
    margin-bottom: var(--space-5);
  }
}

.about-location {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-1-5);
  font-weight: 400;
}
