.about-avatar {
  opacity: 0.8;
}

.about-avatar img {
  display: block;
  float: left;
  width: 9rem;
  height: 10.25rem;
  border-radius: 0.25rem;
  margin-top: var(--space-2-5);
  margin-right: var(--space-4);
  object-fit: cover;
  object-position: center;
}

@media (min-width: 42rem) {
  .about-avatar img {
    margin-top: var(--space-5);
    margin-right: var(--space-8);
    width: 16rem;
    height: 23.875rem;
  }
}

.about-text > p {
  margin-bottom: var(--space-3);
}
@media (min-width: 42rem) {
  .about-text > p {
    margin-bottom: var(--space-5);
  }
}

.about-location {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-1-5);
  font-weight: 400;
}
