.about {
  background-color: var(--gray);
}

.about__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) {
  .about__inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.about__avatar {
  display: block;
  max-width: 100px;
  margin-right: var(--spacer);
  float: left;
}

@media (min-width: 700px) {
  .about__avatar {
    width: 30%;
    margin: 0;
    max-width: none;
    float: none;
  }
}

.about__text {
  font-weight: 200;
  font-size: 20px;
}

@media (min-width: 700px) {
  .about__text {
    width: 70%;
    padding-left: var(--spacer-lg);
    max-width: 740px;
  }
}

@media (min-width: 1024px) {
  .about__text {
    font-size: 24px;
  }
}

.about__text-section {
  margin-bottom: var(--spacer);
}
