.lid {
  position: relative;
}

.lid__inner {
  padding: var(--spacer);
}

.lid__text {
  text-align: center;
}

.lid__welcome {
  font-weight: 500;
  line-height: 1.2;
  font-size: 26px;
  margin-bottom: var(--spacer);
}

@media (min-width: 500px) {
  .lid__welcome {
    font-size: 42px;
  }
}

@media (min-width: 800px) {
  .lid__welcome {
    font-size: 60px;
  }
}

.lid__who {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .lid__who {
    font-size: 26px;
  }
}

@media (min-width: 800px) {
  .lid__who {
    font-size: 32px;
  }
}
