<section id="about" class="section-gray">
  <div class="wrapper">
    <div class="about-text">
      <picture class="about-avatar">
        <source srcset="images/avatar.avif" type="image/avif" />
        <source srcset="images/avatar.webp" type="imasge/webp" />
        <img src="images/avatar.png" alt="andrii looking at you" />
      </picture>

      <h2 class="heading1">About me</h2>

      <p>
        I know many frontend engineers don't enjoy working with CSS, and I
        understand it can be challenging. However, my perspective is different.
        I started my career working solely with CSS and HTML. I've attended
        numerous CSS conferences, completed many courses, read books and tons of
        articles to build solid CSS skills. I truly enjoy working with it.
      </p>
      <p>
        Since 2017, I have focused on ReactJS. I particularly enjoy its
        component-based architecture, which allows me to divide UI elements into
        smaller, reusable components. I've been impressed by its performance and
        scalability, making it an ideal choice for large-scale applications.
      </p>
      <p>
        I am confident enough to admit my mistakes, learn from them, and fix
        them. I am not afraid to ask for help when I need it. I always keep an
        open mind when it comes to feedback and constructive criticism. I place
        great importance on open and transparent communication with my
        colleagues, fostering a healthy work environment.
      </p>
      <p>
        Working remotely comes naturally to me; I have experience collaborating
        with teams across different time zones and locations. I'm comfortable
        working independently, but I also appreciate the benefits of working in
        an office, including the opportunity to connect with colleagues and
        build meaningful relationships.
      </p>
      <p>
        Please feel free to ask any questions you may have, or if you'd like to
        discuss my potential contributions to your project.
      </p>

      <p class="about-location">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>location</title>
          <defs>
            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
              <stop offset="50%" stop-color="var(--blue)" />
              <stop offset="50%" stop-color="var(--yellow)" />
            </linearGradient>
          </defs>
          <path
            id="loc"
            d="M14 2.25c5.385 0 9.75 4.365 9.75 9.75 0 4.12-2.895 8.61-8.61 13.518a1.75 1.75 0 0 1-2.283-.002l-.378-.328C7.017 20.408 4.25 16.028 4.25 12c0-5.385 4.365-9.75 9.75-9.75Zm0 6a3.75 3.75 0 1 0 0 7.5 3.75 3.75 0 0 0 0-7.5Z"
            fill="url(#gradient)"
            fill-rule="nonzero"
          />
        </svg>

        Kyiv, Ukraine.
      </p>
    </div>
  </div>
</section>
