<header class="header">
  <div class="wrapper">
    <div class="header__inner">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__list-item header-nav__list-logo">
            <a href="#home" id="logoLink" class="header__link">
              <svg class="header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.19 163" width="64">
                <title>logo</title>
                <polygon points="109.97 0.67 219.94 163 210.76 163 109.94 14.82 109.97 0.67"/>
                <polygon points="109.97 0.67 0 163 9.18 163 110 14.82 109.97 0.67"/>
                <polygon points="52.7 99.04 115.84 98.92 110.67 91.33 57.95 91.32 52.7 99.04"/>
                <polygon points="272.19 163 263.19 163 375.28 0 384.19 0 272.19 163"/>
                <polygon points="214.84 91.06 152.85 0 162.19 0 219.57 84.18 214.84 91.06"/>
              </svg>
            </a>
          </li>
          <!-- <li class="header-nav__list-item header-nav__list-about">
            <a href="#about" id="aboutLink" class="header__link">About</a>
          </li> -->
          <!-- <li class="header-nav__list-item header-nav__list-work">
            <a href="#projects" id="workLink" class="header__link">Projects</a>
          </li> -->
        </ul>
      </nav>

      <ul class="header__contacts">
        <li>
          <a href="mailto:andrii@averb.dev" class="header__contacts-link">
            <svg class="header__contacts-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14" fill="currentColor">
              <g>
                <path
                  d="M7 9L5.268 7.484.316 11.729c.18.167.423.271.691.271h11.986c.267 0 .509-.104.688-.271L8.732 7.484 7 9z" />
                <path
                  d="M13.684 2.271A1.007 1.007 0 0 0 12.993 2H1.007c-.267 0-.509.104-.689.273L7 8l6.684-5.729zM0 2.878v8.308l4.833-4.107zM9.167 7.079L14 11.186V2.875z" />
              </g>
            </svg>
            <span class="">andrii@averb.dev</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/averb/" class="header__contacts-link">
            <svg class="header__contacts-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310" width="14" height="14" fill="currentColor">
              <path
                d="M72.16 99.73H9.927a5 5 0 0 0-5 5v199.928a5 5 0 0 0 5 5H72.16a5 5 0 0 0 5-5V104.73a5 5 0 0 0-5-5zM41.066.341C18.422.341 0 18.743 0 41.362 0 63.991 18.422 82.4 41.066 82.4c22.626 0 41.033-18.41 41.033-41.038C82.1 18.743 63.692.341 41.066.341zM230.454 94.761c-24.995 0-43.472 10.745-54.679 22.954V104.73a5 5 0 0 0-5-5h-59.599a5 5 0 0 0-5 5v199.928a5 5 0 0 0 5 5h62.097a5 5 0 0 0 5-5V205.74c0-33.333 9.054-46.319 32.29-46.319 25.306 0 27.317 20.818 27.317 48.034v97.204a5 5 0 0 0 5 5H305a5 5 0 0 0 5-5V194.995c0-49.565-9.451-100.234-79.546-100.234z" />
            </svg>
            <span class="">linkedin.com/in/averb</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
