<section class="section-default" id="projects">
  <h2 class="visually-hidden">Projects</h2>

  <ul class="work__list">
    <li class="work__item" style="background-color: #161616">
      <a href="work/jetSetter" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/jetSetter/img/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #f3cc00">
      <a href="work/mylumper" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/mylumper/img/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #fff">
      <a href="work/naChasi" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/naChasi/img/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #dcf0ff">
      <a href="work/asaphelper" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/asaphelper/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #39bc9d">
      <a href="work/fameelee" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/fameelee/images/logo@3x.png"
          alt=""
        />
      </a>
    </li>

    <li
      class="work__item"
      style="
        background-image: linear-gradient(to top, #7eb0df 0%, #4c5e96 100%);
      "
    >
      <a href="work/veedeem" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/veedeem/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #fc0">
      <a href="work/prowriters" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/prowriters/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #31bc5c">
      <a href="work/garlic" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/garlic/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #0088cc">
      <a href="work/domain" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/domain/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #3b3635">
      <a href="work/enetech" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/enetech/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #fff">
      <a href="work/essaywriting" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/essaywriting/images/logo@3x.png"
          alt=""
        />
      </a>
    </li>

    <li class="work__item" style="background-color: #eff0f0">
      <a href="work/essayassist" class="work__item-inner">
        <img
          class="work__item-img"
          src="work/essayassist/images/svg/logo.svg"
          alt=""
        />
      </a>
    </li>
  </ul>
</section>
